#about-me,
#background {
  display: none;
}

.about-me-content,
.background-content {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.author-icon {
  font-size: 50px;
}

.author-icon,
.comment-details {
  display: inline-block;
}

.author-name-input,
.comment-input {
  border: solid;
  display: block;
  line-height: 50px;
  width: 100%;
}

body {
  font-family: Freckle Face, sans-serif;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.comment {
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

#comments {
  display: flex;
}

.comments-section {
  border: 1px solid #ddd;
  font-size: 25px;
  padding: 0;
  width: 75%;
}

.contact-icon {
  border-radius: 50%;
  font-size: 25px;
  padding: 5px;
  width: 25px;
}

.contact-info {
  margin-bottom: 10px;
}

.fa {
  text-align: center;
  text-decoration: none;
}

.fa-github {
  background-color: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-right: 20px;
}

.first-paragraph {
  font-size: 35px;
}

#gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  text-align: center;
}

.gallery-column {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0 4px;
}

.greeting-container {
  font-size: 45px;
}

hr {
  width: 75%;
}

.menu-button,
.menu-button:active {
  background-color: #3e92cc;
  border-color: black;
  color: black;
  font-family: Fredoka One, sans-serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.menu-button:hover {
  opacity: 75%;
}

.new-comment-sidebar {
  overflow-x: hidden;
  width: 25%;
}

.photo {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.project {
  text-align: left;
}

.project-description {
  font-family: Hammersmith One, sans-serif;
  font-size: 20px;
}

.project-icon {
  font-size: 30px;
}

#projects {
  display: none;
}

.projects-table {
  border-collapse: separate;
  border-spacing: 20px 5px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.project-title {
  font-size: 25px;
}

.second-paragraph {
  font-size: 25px;
}

#show-comments-button {
  font-size: 35px;
  position: absolute;
  right: 5%;
}

.submit-comment-button {
  background-color: #1f5f8b;
  color: white;
  font-size: 20px;
  padding: 15px 25px;
  text-align: center;
  width: 100%;
}

.submit-comment-button:hover {
  background-color: #253b6e;
}

.submit-comment-button:active {
  background-color: #253b6e;
  transform: translateY(4px);
}

#switch-theme-button {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 25px;
}
