#about-me,
#background {
  display: none;
}

.about-me-content,
.background-content {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.author-icon {
  font-size: 25px;
  padding: 30px 20px 30px 20px;
  vertical-align: top;
}

.author-icon,
.comment-details {
  display: inline-block;
}

body {
  -ms-overflow-style: none;
  font-family: Freckle Face, sans-serif;
  justify-content: center;
  margin: 0;
  text-align: center;
}

body::-webkit-scrollbar {
  display: none;
}

.comment {
  border: 1px solid #ddd;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.comment-details {
  display: block;
  padding-right: 20px;
  width: 100%;
}

.comment-headline {
  display: flex;
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}

.comment-option-button {
  font-size: 25px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.comment-options {
  text-align: right;
  width: 100%;
}

.comment-text {
  font-family: Inconsolata, sans-serif;
  font-size: 16px;
}

.comment-text-input {
  border-left: none;
  border-right: none;
  display: block;
}

.comment-text-input:focus {
  border-left: none;
  border-right: none;
}

#comments,
#map {
  display: none;
}

#comments-container,
#map-container {
  border-top: 6px solid black;
  display: flex;
  height: 60vh;
  width: 100%;
}

#comments-section {
  border-left: 6px solid black;
  font-size: 25px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 65%;
}

#comments-section::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

#comments-section::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 4px;
}

.contact-icon {
  border-radius: 50%;
  font-size: 25px;
  padding: 5px;
  width: 25px;
}

.contact-info {
  margin-bottom: 10px;
}

.fa {
  text-align: center;
  text-decoration: none;
}

.fa-github {
  background-color: black;
  color: white;
}

.fa-linkedin {
  background-color: #007bb5;
  color: white;
  margin-right: 20px;
}

.first-paragraph {
  font-size: 35px;
}

#gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
  text-align: center;
}

.gallery-column {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0 4px;
}

.greeting-container {
  font-family: Freckle Face, sans-serif;
  font-size: 45px;
}

hr {
  width: 75%;
}

input,
textarea {
  border: 3px solid #c0c0c0;
  box-sizing: border-box;
  font-family: Inconsolata, sans-serif;
  margin: 8px 0;
  outline: none;
  padding: 12px 20px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 3px solid #a9a9a9;
}

.input-label {
  font-family: Inconsolata, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.link {
  color: #32a2a8;
}

#login-status {
  font-family: Merriweather, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#map-item {
  height: 100%;
  width: 100%;
}

.menu-button,
.menu-button:active {
  background-color: #3e92cc;
  border-color: black;
  color: black;
  font-family: Fredoka One, sans-serif;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.menu-button:hover {
  opacity: 75%;
}

.new-comment-headline {
  font-family: Merriweather, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#new-comment-form {
  display: none;
}

.new-comment-sidebar {
  height: 60vh;
  overflow: hidden;
  position: relative;
  width: 35%;
}

.option-button {
  font-size: 35px;
  padding-left: 20px;
}

#options-menu {
  display: flex;
  height: 25px;
  position: absolute;
  right: 5%;
  text-align: right;
}

.photo {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.project {
  text-align: left;
}

.project-description {
  font-family: Hammersmith One, sans-serif;
  font-size: 20px;
}

.project-icon {
  font-size: 30px;
}

#projects {
  display: none;
}

.projects-table {
  border-collapse: separate;
  border-spacing: 20px 5px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.project-title {
  font-size: 25px;
}

.second-paragraph {
  font-size: 25px;
}

.submit-comment-button {
  background-color: #1f5f8b;
  border: none;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-family: Merriweather, sans-serif;
  font-size: 25px;
  padding: 15px 25px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
}

.submit-comment-button:hover,
.submit-comment-button:active {
  background-color: #253b6e;
}

#switch-theme-button {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 25px;
}
